.centered-image {
    display: block;
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
    width: 500px; /* Adjust this value as needed */
    margin: 0 auto;
    padding: 10px; /* Adjust the padding for spacing */
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

.player-box {
    background-color: #555;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.player-box:hover {
    background-color: #777;
}
.white-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}